<div class = "row">
  <div class = "column">
        <%=image_tag restaurant.photo_url(:thumb).to_s %>
  </div>
  <div class = "column">
        <%= render restaurant.categories %>
        <h4><%= link_to restaurant.name, restaurant_path(restaurant) %></h4>
        <small><%= restaurant.address %></small>
        <p><%= restaurant.description %></p>
        <p>
        <span class = 'quiet'>posted by</span>
        <small>at <%= display_datetime(restaurant.created_at) %></small>
        </p>
   </div> 
</div>

